<!-- Character Encoding and Viewport -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">





<!-- Page Title -->
<title>HoodAlgo</title>









<link rel="icon" type="image/png" href="{{ url_for('static', filename='system/fav.png') }}?v=2">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='fav/app.png') }}?v=2">



<!-- Apple Home Screen Icon -->
<link rel="apple-touch-icon" href="{{ url_for('static', filename='system/app.png') }}">



<!-- Open Graph Meta Tags for Facebook and Messaging Apps -->
<meta property="og:url" content="{{ url_for('about', _external=True) }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="BlackTieEvent.app | Event Management | Event Fundraising" />


<meta property="og:description" content="Demo Now for free" />
<meta property="og:image" content="{{ url_for('static', filename='system/app.png', _external=True) }}" />







<!-- Twitter Card Meta Tags for Twitter/X -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="{{ url_for('about', _external=True) }}" />

<meta name="twitter:title" content="Demo Now for free" />

<meta name="twitter:description" content="Description for Twitter/X" />
<meta name="twitter:image" content="{{ url_for('static', filename='system/app.png', _external=True) }}" />
<meta name="twitter:image:alt" content="Alt text for the Twitter/X image." />





<!-- General Meta Tags (Optional) -->
<meta name="title" content="Scan2Give" />
<meta name="description" content="Websites, Inventory, Scheduling, Payment Processing, Operations" />




